<!DOCTYPE html>
<html lang="en">
<head>
    <title>考勤管理系统</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/lib/css/matrix-login.css" rel="stylesheet"/>
    <link href="/lib/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>
<div id="loginbox">
    <form action="/login" class="form-vertical" id="loginform" method="post">
        <div class="control-group normal_text"><h3>考勤管理系统</h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"></i></span><input id="username" placeholder="Email"
                                                                                      type="text"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input id="password" placeholder="密码"
                                                                                      type="password"/>
                </div>
            </div>
        </div>
    </form>
    <div class="form-actions">
        <span class="pull-right"><a class="btn btn-success" onclick="login()" style="cursor: pointer">登录</a></span>
    </div>
</div>

<script src="/lib/js/jquery.min.js"></script>
<script src="/lib/js/matrix.login.js"></script>
<script type="text/javascript">
    function login() {
        let username = $("#username").val();
        let password = $("#password").val();
        let json = {};
        json.email = username;
        json.password = password;
        $.ajax({
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(json),
            dataType: "json",
            url: "/api/login",
            success: function (result) {
                let obj = eval(result);
                if (obj.code === 200) {
                    location.href = "/employee";
                } else {
                    alert(obj.message);
                }
            }
        });
    }
</script>
</body>
</html>