<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.zygxy.dao.CompanyLocationMapper">
    <insert id="insert" parameterType="edu.zygxy.pojo.CompanyLocation">
        insert into company_location(name, longitude, latitude) values(#{o.name}, #{o.longitude}, #{o.latitude});
    </insert>

    <update id="updateById">
        update company_location set name = #{o.name}, longitude = #{o.longitude}, latitude = #{o.latitude} where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from company_location where id = #{id};
    </delete>

    <select id="selectList" resultType="edu.zygxy.pojo.CompanyLocation">
        select * from company_location;
    </select>

    <select id="selectById" resultType="edu.zygxy.pojo.CompanyLocation">
        select * from company_location where id = #{id};
    </select>
</mapper>